<%- include("./partials/header") -%>
<%- include("./partials/nav") -%>

    <div id="hm-container">
        <main>
            <% if (locals.user) { %>

                <div id="user-welcome">
                    <div id="user-img">
                        <!-- TODO: CHANGE IMAGE  -->
                        <img src="https://cdn.pixabay.com/photo/2021/11/12/03/04/woman-6787784_1280.png" alt="pfp">
                    </div>
                    <div id="user-msg">
                        <p>Welcome back,</p>
                        <h1><%= locals.firstName %> </h1>
                    </div>
                    <div id="user-btns">
                        <button> <a href="/create">Create</a></button>
                    </div>
                </div>


            <ul id="hm-posts">
                <% posts.forEach((post) => { %>
                    <li>
                        <div id="hm-post">
                            <div id="hm-header">
                                <div id="hm-title-date">
                                    <div id="hm-title">
                                        <p><%= post.title %> </p>
                                    </div>


                                    <div id="hm-date">
                                        <p><em><%= post.date_created%></em></p>
                                    </div>
                                </div>

                                <div id="hm-header-btns">
                                    <button>Edit</button>
                                    <button>Share</button>
                                    <button>Delete</button>
                                </div>
                            </div>
                            <div id="hm-body">
                                <%- post.post_data %>
                            </div>
                            <div id="hm-footer">
                                <!-- TODO: add a read more page for the ONE post and route  -->
                                <!-- link it here  -->
                                <button>Read More</button>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <% } else { %>
                <!-- TODO: mssg for users not logged in 👇 -->
                <div class="notLoggedIn-container">
                    <div class="welcome-mss">
                        <h1>HELLO!</h1>
                        <p class="wm">Welcome to <strong>Datebook</strong></p>


                        <div class="hero-msg">
                            <div class="hero-msg-left">
                                <p> <em>A simple and beautiful website to get you started on documenting your most precious moments.</em> </p>
                                <div class="hero-msg-left-btns">
                                    <button class="hero-sign-in"> <a href="/auth/login">Sign In</a></button>
                                    <p>or</p>
                                    <button class="hero-register">
                                       <a href="/auth/register">Register</a> 
                                    </button>
                                </div>
                            </div>
                            <div class="hero-msg-right">
                                <img src="https://picsum.photos/300/300/?blur" alt="">
                                <img src="https://picsum.photos/300/300/?blur" alt="">
                                <img src="https://picsum.photos/300/300/?blur" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </main>
    </div>
    


    <%- include("./partials/footer") -%>
