<%- include("./partials/header") -%>
<%- include("./partials/nav") -%>

    <div id="hm-container">
        <main>
            <% if (locals.user) { %>

                <div id="user-welcome">
                    <div id="user-img">
                        <!-- TODO: CHANGE IMAGE  -->
                        <img src="https://cdn.pixabay.com/photo/2021/11/12/03/04/woman-6787784_1280.png" alt="pfp">
                    </div>
                    <div id="user-msg">
                        <p>Welcome back,</p>
                        <h1><%= locals.firstName %> </h1>
                    </div>
                    <div id="user-btns">
                        <button>Create</button>
                    </div>
                </div>


            <ul id="hm-posts">
                <% posts.forEach((post) => { %>
                    <li>
                        <div id="hm-post">
                            <div id="hm-header">
                                <div id="hm-title-date">
                                    <div id="hm-title">
                                        <p><%= post.title %> </p>
                                    </div>


                                    <div id="hm-date">
                                        <p><em>November 26, 2024</em></p>
                                    </div>
                                </div>
 
                                <div id="hm-header-btns">
                                    <button>Edit</button>
                                    <button>Share</button>
                                    <button>Delete</button>
                                </div>
                            </div>
                            <div id="hm-body">
                                <p><%= post.post_data %></p>
                            </div>
                            <div id="hm-footer">
                                <button>Read More ...</button>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <% } else { %>
                <!-- TODO: mssg for users not logged in 👇 -->
                <h1>Welcome POTATO</h1>
            <% } %>
        </main>
    </div>
    


    <%- include("./partials/footer") -%>
