<%- include("./partials/header") -%>
<%- include("./partials/nav") -%>

<div id="posts-container">
    <main>

        <% if (locals.user) { %>
            <div id="posts-user-pf">
                <img src="" alt="user profile image">
                <p>User's name</p>
                <p>Today's date</p>
            </div>


            <% posts.forEach((post) => { %>
            <% console.log(post, " :post") %>

                <ul id="posts-posts">
                    <li>
                        <div id="posts-post">
                            <div id="posts-header">
                                <div id="posts-title">
                                    <p><%= post.title %> </p>
                                </div>
                                <div id="posts-date">
                                    <p>November 26, 2024</p>
                                </div>
                                <div id="posts-header-btns">
                                    <button>Edit</button>
                                    <button>Share</button>
                                    <button>Delete</button>
                                </div>
                            </div>
                            <div id="posts-body">
                                <p><%= post.post_data %></p>
                            </div>
                            <div id="posts-footer">
                                <button>Read More ...</button>
                            </div>
                        </div>
                    </li>
                </ul>
            <% }) %>
        <% } else { %>
            <h1>
                Sorry, No posts found
            </h1>
        <% } %>
    </main>
</div>

<%- include("./partials/footer") -%>