<%- include("./partials/header") -%>
<%- include("./partials/nav") -%>

<div class="settings-container">
    <main>
        <h1>Edit profile information</h1>
        <p><%= locals.todaysDate %></p>

        <% if (locals.user) { %>

        <form action="/settings/update/<%=user.id%>" method="post">
            <div class="form-settings">
                <label for="firstname">First name</label>
                <input type="text" name="firstName">
            </div>
            <div class="form-settings">
                <label for="lastname">Last name</label>
                <input type="text" name="lastName">
            </div>
            <div class="form-settings">
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div class="form-settings">
                <label for="username">User name</label>
                <input type="text" name="username">
            </div>
            <div class="form-settings">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="settings-btn">
                <button type="submit">Save</button>
            </div>

        </form>

        <% } %>
    </main>
</div>


<%- include("./partials/footer") -%>
